<h1>{{titulo}}</h1>
<form #formSong="ngForm" (ngSubmit)="onSubmit()">
    <div *ngIf="alertMessage">
        <div class="alert alert-success" role="alert"> {{alertMessage}}</div>
    </div>
    <p>
        <label>Número</label>
        <!--<input type="text" #number="ngModel" name="number" [(ngModel)]="song.number" required 
        class="form-control" />-->
        <select type="text" #number="ngModel" name="number" [(ngModel)]="song.number" required class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>

          </select>
        <span *ngIf="!number.valid && number.touched">
            El número es obligatorio
        </span>
    </p>
    <p>
        <label>Titulo</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="song.name" required 
        class="form-control" />
        <span *ngIf="!name.valid && name.touched">
            El titulo es obligatorio
        </span>
    </p>
    <p>
        <label>Duración</label>
        <input type="text" #duration="ngModel" name="duration" [(ngModel)]="song.duration"
        required class="form-control"/>
        <span *ngIf="!duration.valid && duration.touched">
            La duracion es obligatorio
        </span>
    </p>
    <p>
        <label>Tags</label>
        <input type="text" #tags="ngModel" name="tags" [(ngModel)]="song.tags" required 
        class="form-control" />
        <span *ngIf="!tags.valid && tags.touched">
            El titulo es obligatorio
        </span>
    </p>
    <div *ngIf="is_edit">
        <div class="song_file_for_edit" *ngIf="song.file && song.file != 'null'">
            <audio controls>
                <source src="{{ url + 'get-song-file/'+song.file}}"type="audio/mpeg"/>
                El navegador no soporta la reproducción de audio
            </audio>
        </div>
        <p>
            <label> Sube la canción </label>
            <input type="file" placeholder="Subir canción..." (change)="fileChangeEvent($event)" />
        </p>
    </div>
    <input type="submit" value="{{titulo}}" [disabled]="!formSong.form.valid" class="btn btn-success" />
</form>